# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies (hoisted to the monorepo root)
node_modules/

# build output
dist/
build/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo
